# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [54]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import matplotlib.pyplot as plt #The matplotlib visuailzation library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [55]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [56]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'week52change': 1.276014,
 'week52high': 451.13,
 'week52low': 200.98,
 'marketcap': 1951924657138,
 'employees': 138373,
 'day200MovingAvg': 311.66,
 'day50MovingAvg': 368.87,
 'float': 4273103318,
 'avg10Volume': 45853556.4,
 'avg30Volume': 37671413,
 'ttmEPS': 13.9176,
 'ttmDividendRate': 3.16,
 'companyName': 'Apple, Inc.',
 'sharesOutstanding': 4376760528,
 'maxChangePercent': 442.7886,
 'year5ChangePercent': 2.9231,
 'year2ChangePercent': 1.1059,
 'year1ChangePercent': 1.2855,
 'ytdChangePercent': 0.46116,
 'month6ChangePercent': 0.374216,
 'month3ChangePercent': 0.47623,
 'month1ChangePercent': 0.180435,
 'day30ChangePercent': 0.201609,
 'day5ChangePercent': 0.154565,
 'nextDividendDate': '2020-07-29',
 'dividendYield': 0.00724348502563592,
 'nextEarningsDate': '2020-10-19',
 'exDividendDate': '2020-04-23',
 'peRatio': 34.31,
 'beta': 1.137476916622114}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course.

In [57]:
data['year1ChangePercent']

1.2855

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project.

In [63]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [64]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker    Price  One-Year Price Return Number of Shares to Buy
0        A  100.380               0.486914                     N/A
1      AAL   13.018              -0.619994                     N/A
2      AAP  157.230               0.068159                     N/A
3     AAPL  442.700               1.330266                     N/A
4     ABBV   93.450               0.461548                     N/A
..     ...      ...                    ...                     ...
500    YUM   93.000              -0.208965                     N/A
501    ZBH  138.260              -0.032145                     N/A
502   ZBRA  292.690               0.435485                     N/A
503   ZION   34.224              -0.224169                     N/A
504    ZTS  165.490               0.399364                     N/A

[505 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold.

In [65]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:51]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker     Price  One-Year Price Return Number of Shares to Buy
0    DXCM   461.870               2.176704                     N/A
1    NVDA   455.718               2.069979                     N/A
2     AMD    89.219               2.060641                     N/A
3    CARR    29.190               1.355595                     N/A
4    AAPL   442.700               1.330266                     N/A
5    REGN   630.510               1.166235                     N/A
6     WST   278.970               1.095047                     N/A
7    LRCX   401.390               1.024379                     N/A
8    QRVO   133.830               0.949612                     N/A
9    SWKS   146.700               0.940936                     N/A
10   PYPL   204.070               0.931340                     N/A
11   ATVI    88.300               0.896944                     N/A
12    NEM    72.680               0.888178                     N/A
13   AMZN  3350.287               0.801259                     N/A
14   MSCI   382.140               0.744231                     N/A
15   FTNT   142.867               0.744001                     N/A
16    NOW   451.270               0.740798                     N/A
17   ODFL   188.970               0.719885                     N/A
18   FAST    50.020               0.696074                     N/A
19   ADSK   251.510               0.692671                     N/A
20     EA   149.730               0.678728                     N/A
21   NFLX   502.810               0.675694                     N/A
22    BIO   534.600               0.674793                     N/A
23    ROL    56.500               0.672387                     N/A
24   CDNS   113.920               0.646218                     N/A
25    TGT   134.700               0.637250                     N/A
26   SNPS   201.720               0.637139                     N/A
27    DPZ   404.220               0.635992                     N/A
28   MSFT   213.010               0.634317                     N/A
29   ANSS   327.030               0.631648                     N/A
30     KR    35.560               0.627491                     N/A
31   KLAC   203.470               0.622239                     N/A
32    RMD   210.560               0.620913                     N/A
33   QCOM   111.603               0.619039                     N/A
34   ADBE   465.890               0.606656                     N/A
35   CHTR   610.920               0.604287                     N/A
36    VAR   176.860               0.583800                     N/A
37    TMO   423.800               0.572180                     N/A
38   VRTX   282.720               0.571890                     N/A
39    LOW   152.110               0.567498                     N/A
40   EQIX   807.080               0.563186                     N/A
41   TTWO   178.680               0.562580                     N/A
42   FBHS    80.390               0.554426                     N/A
43   ALGN   300.550               0.552844                     N/A
44   CTXS   142.760               0.552799                     N/A
45    LEN    76.620               0.551136                     N/A
46    CLX   248.270               0.534220                     N/A
47    BBY   106.470               0.532135                     N/A
48    TYL   367.910               0.525600                     N/A
49    DHR   209.210               0.520340                     N/A
50   HOLX    75.700               0.519235                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy.

Since we've already done this, try to complete the following two code cells without watchign me do it first!

In [ ]:
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

In [ ]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])-1):
    final_dataframe.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame.

In [66]:
my_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Price Return Percentile'
                'One-Month Price Return',
                'One-Month Return Percentile'
                ]

final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)

ValueError: Length of passed values is 11, index implies 10