# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [3]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple, Inc.',
 'primaryExchange': 'ADSNAQ',
 'calculationPrice': 'iexlasttrade',
 'open': None,
 'openTime': None,
 'openSource': 'ffolciai',
 'close': None,
 'closeTime': None,
 'closeSource': 'faciolfi',
 'high': 466.25,
 'highTime': 1629149140321,
 'highSource': 'i 1e nylaipce5dudter me',
 'low': 469.31,
 'lowTime': 1628081314759,
 'lowSource': '5nyamte pice duee1dlir ',
 'latestPrice': 476.94,
 'latestSource': 'IEX Last Trade',
 'latestTime': 'August 13, 2020',
 'latestUpdate': 1661144800199,
 'latestVolume': 52501376,
 'iexRealtimePrice': 471.48,
 'iexRealtimeSize': 103,
 'iexLastUpdated': 1602768699036,
 'delayedPrice': None,
 'delayedPriceTime': None,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'extendedPrice': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPriceTime': None,
 'previousClose': 458.67,
 'previousVolume': 41491757,
 'change': 7.78,
 'changePercent': 0.01754,
 'volume': 52148835,
 'iexMarketPercent': 0.007324444084296661,
 'iexVolume': 370896,
 'avgTotalVolume': 39548793,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexOpen': None,
 'iexOpenTime': None,
 'iexClose': 475.05,
 'iexCloseTime': 1599995236679,
 'marketCap': 1967059163903,
 'peRatio': 34.95,
 'week52High': 478.24,
 'week52Low': 200.98,
 'ytdChange': 0.544225,
 'lastTradeTime': 1675394947276,
 'isUSMarketOpen': False}

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [4]:
pe_ratio = data['peRatio']
pe_ratio

34.95

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['quote']['peRatio'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0        A   99.150                   45.02                     N/A
1      AAL   13.400                   -1.64                     N/A
2      AAP  158.731                   29.05                     N/A
3     AAPL  468.690                   35.35                     N/A
4     ABBV   94.860                   21.07                     N/A
..     ...      ...                     ...                     ...
500    YUM   94.110                   27.44                     N/A
501    ZBH  138.200                   711.6                     N/A
502   ZBRA  299.797                   31.84                     N/A
503   ZION   35.730                    13.2                     N/A
504    ZTS  159.363                   48.41                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [7]:
final_dataframe.sort_values('Price-to-Earnings Ratio', ascending = False, inplace = True)
final_dataframe = final_dataframe[:51]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker     Price Price-to-Earnings Ratio Number of Shares to Buy
0     RTX    65.133                  2389.8                     N/A
1     FIS   145.503                 1544.42                     N/A
2     GPC    97.240                  948.15                     N/A
3     ZBH   138.200                   711.6                     N/A
4     HLT    86.500                  612.19                     N/A
5     STZ   182.650                  603.35                     N/A
6     HRB    14.919                  555.16                     N/A
7     GLW    33.190                  253.28                     N/A
8     IQV   170.830                  241.94                     N/A
9     KMI    14.463                  211.43                     N/A
10    WMB    22.392                   204.9                     N/A
11   DXCM   436.290                  197.93                     N/A
12   ADSK   246.880                  174.73                     N/A
13    AMD    85.010                  160.23                     N/A
14    SYY    61.360                   148.2                     N/A
15   EQIX   784.200                  132.89                     N/A
16    CMG  1204.770                  130.35                     N/A
17   AMZN  3160.320                  124.36                     N/A
18      D    83.230                  121.35                     N/A
19    GPN   176.270                  119.72                     N/A
20    NOW   451.980                  115.67                     N/A
21    LVS    50.310                  112.53                     N/A
22   PAYC   305.720                  101.18                     N/A
23    HST    11.430                   98.72                     N/A
24    BDX   272.590                   96.02                     N/A
25    CCI   166.000                    94.9                     N/A
26   ABMD   321.760                   90.58                     N/A
27   PYPL   197.270                   89.94                     N/A
28    LUV    35.500                   89.21                     N/A
29   NVDA   470.990                   87.32                     N/A
30    ROL    56.410                    85.6                     N/A
31    ALK    39.600                    82.7                     N/A
32    REG    43.905                   81.05                     N/A
33   NFLX   500.260                   80.78                     N/A
34    EOG    47.819                   78.72                     N/A
35    VFC    66.500                   78.41                     N/A
36   ILMN   360.160                      78                     N/A
37   WELL    57.100                   77.72                     N/A
38   FISV   102.882                    77.6                     N/A
39   IDXX   402.520                    74.7                     N/A
40   MKTX   500.690                   72.76                     N/A
41    WST   276.780                   72.57                     N/A
42    TYL   350.620                   71.74                     N/A
43   SBUX    80.795                   71.14                     N/A
44   ISRG   694.640                   70.55                     N/A
45    MAR   101.260                   69.99                     N/A
46     WY    29.629                   69.82                     N/A
47    EFX   172.400                    69.6                     N/A
48    BLL    77.780                    68.8                     N/A
49    NKE   107.160                    68.4                     N/A
50   ANSS   321.090                    68.1                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [8]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [9]:
portfolio_input()

Enter the value of your portfolio:1000000

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [10]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

   Ticker     Price Price-to-Earnings Ratio  Number of Shares to Buy
0     RTX    65.133                  2389.8                      301
1     FIS   145.503                 1544.42                      134
2     GPC    97.240                  948.15                      201
3     ZBH   138.200                   711.6                      141
4     HLT    86.500                  612.19                      226
5     STZ   182.650                  603.35                      107
6     HRB    14.919                  555.16                     1314
7     GLW    33.190                  253.28                      590
8     IQV   170.830                  241.94                      114
9     KMI    14.463                  211.43                     1355
10    WMB    22.392                   204.9                      875
11   DXCM   436.290                  197.93                       44
12   ADSK   246.880                  174.73                       79
13    AMD    85.010                  160.23                      230
14    SYY    61.360                   148.2                      319
15   EQIX   784.200                  132.89                       25
16    CMG  1204.770                  130.35                       16
17   AMZN  3160.320                  124.36                        6
18      D    83.230                  121.35                      235
19    GPN   176.270                  119.72                      111
20    NOW   451.980                  115.67                       43
21    LVS    50.310                  112.53                      389
22   PAYC   305.720                  101.18                       64
23    HST    11.430                   98.72                     1715
24    BDX   272.590                   96.02                       71
25    CCI   166.000                    94.9                      118
26   ABMD   321.760                   90.58                       60
27   PYPL   197.270                   89.94                       99
28    LUV    35.500                   89.21                      552
29   NVDA   470.990                   87.32                       41
30    ROL    56.410                    85.6                      347
31    ALK    39.600                    82.7                      495
32    REG    43.905                   81.05                      446
33   NFLX   500.260                   80.78                       39
34    EOG    47.819                   78.72                      410
35    VFC    66.500                   78.41                      294
36   ILMN   360.160                      78                       54
37   WELL    57.100                   77.72                      343
38   FISV   102.882                    77.6                      190
39   IDXX   402.520                    74.7                       48
40   MKTX   500.690                   72.76                       39
41    WST   276.780                   72.57                       70
42    TYL   350.620                   71.74                       55
43   SBUX    80.795                   71.14                      242
44   ISRG   694.640                   70.55                       28
45    MAR   101.260                   69.99                      193
46     WY    29.629                   69.82                      661
47    EFX   172.400                    69.6                      113
48    BLL    77.780                    68.8                      252
49    NKE   107.160                    68.4                      182
50   ANSS   321.090                    68.1                       61

## Building a Better (and More Realistic) Momentum Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [11]:
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=advanced-stats,quote&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# P/E Ratio
pe_ratio = data[symbol]['quote']['peRatio']

# P/B Ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

#P/S Ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# EV/EBITDA
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# EV/GP
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [12]:
rv_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'Price-to-Earnings Ratio',
                'PE Percentile',
                'Price-to-Book Ratio',
                'PB Percentile',
                'EV/EBITDA',
                'EV/EBITDA Percentile',
                'EV/GP',
                'EV/GP Percentile',
                'RV Score'
                ]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=advanced-stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        
        pe_ratio = data[symbol]['quote']['peRatio']
        pb_ratio = data[symbol]['advanced-stats']['priceToBook']
        ps_ratio = data[symbol]['advanced-stats']['priceToSales']
        
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        
        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
            
        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
            
        rv_dataframe = rv_dataframe.append(
                                        pd.Series([
                                                    symbol, 
                                                    data[symbol]['quote']['latestPrice'], 
                                                    'N/A', 
                                                    pe_ratio,
                                                    'N/A',
                                                    pb_ratio,
                                                    'N/A',
                                                    ev_to_ebitda,
                                                    'N/A',
                                                    ev_to_gross_profit,
                                                    'N/A',
                                                    'N/A'
                                                   ], 
                                                  index = rv_columns), 
                                        ignore_index = True)
        

rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,101.440,N/A,46.11,N/A,6.371653,N/A,26.865217,N/A,11.047035,N/A,N/A
1,AAL,13.650,N/A,-1.69,N/A,-61.060616,N/A,5.916299,N/A,3.212977,N/A,N/A
2,AAP,160.657,N/A,28.71,N/A,3.127808,N/A,15.224044,N/A,3.293698,N/A,N/A
3,AAPL,465.400,N/A,35.64,N/A,22.463973,N/A,26.225125,N/A,20.249733,N/A,N/A
4,ABBV,96.400,N/A,20.12,N/A,-20.949970,N/A,12.255004,N/A,7.568305,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,94.130,N/A,27.33,N/A,-3.527164,N/A,18.770575,N/A,14.154888,N/A,N/A
501,ZBH,142.020,N/A,713.35,N/A,2.336419,N/A,16.040361,N/A,7.100027,N/A,N/A
502,ZBRA,296.474,N/A,31.15,N/A,8.570317,N/A,20.089628,N/A,8.663448,N/A,N/A
503,ZION,34.930,N/A,13.41,N/A,0.794338,N/A,NaN,N/A,NaN,N/A,N/A
504,ZTS,160.299,N/A,48.69,N/A,28.414397,N/A,32.191112,N/A,19.427455,N/A,N/A

In [13]:
print(data[symbol]['advanced-stats'])

{'week52change': 0.287645, 'week52high': 164.37, 'week52low': 91.88, 'marketcap': 76883163532, 'employees': 10723, 'day200MovingAvg': 134.7, 'day50MovingAvg': 144.77, 'float': 486186715, 'avg10Volume': 1614074, 'avg30Volume': 1483446.97, 'ttmEPS': 3.4931, 'ttmDividendRate': 0.788, 'companyName': 'Zoetis, Inc.', 'sharesOutstanding': 489251656, 'maxChangePercent': 3.4099, 'year5ChangePercent': 1.683, 'year2ChangePercent': 0.6103, 'year1ChangePercent': 0.28579, 'ytdChangePercent': 0.194893, 'month6ChangePercent': 0.103322, 'month3ChangePercent': 0.298621, 'month1ChangePercent': 0.15893, 'day30ChangePercent': 0.162359, 'day5ChangePercent': -0.012505, 'nextDividendDate': None, 'dividendYield': 0.00491546129743793, 'nextEarningsDate': '2020-10-10', 'exDividendDate': '2020-07-02', 'peRatio': 46.98, 'beta': 0.9892719427062117, 'totalCash': 1962438955, 'currentDebt': 559973043, 'revenue': 6535321056, 'grossProfit': 4163952351, 'totalRevenue': 6399267878, 'EBITDA': 2512960654, 'revenuePerShare': 13.48, 'revenuePerEmployee': 617449.43, 'debtToEquity': 2.56, 'profitMargin': 0.2480472643663405, 'enterpriseValue': 80894998566, 'enterpriseValueToRevenue': 13.13, 'priceToSales': 12.7, 'priceToBook': 28.414396855298836, 'forwardPERatio': 45.05, 'pegRatio': -43.38, 'peHigh': 45.50191875961259, 'peLow': 25.294541927639354, 'week52highDate': '2020-08-04', 'week52lowDate': '2020-03-17', 'putCallRatio': 1.5594216105094973}

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [14]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
17,AFL,37.863,N/A,9.82,N/A,0.922686,N/A,NaN,N/A,NaN,N/A,N/A
18,AIG,31.470,N/A,-5.85,N/A,0.415183,N/A,NaN,N/A,NaN,N/A,N/A
20,AIZ,126.940,N/A,19.72,N/A,1.322977,N/A,NaN,N/A,NaN,N/A,N/A
26,ALL,100.500,N/A,7.2,N/A,1.209077,N/A,NaN,N/A,NaN,N/A,N/A
39,ANTM,288.000,N/A,12.49,N/A,2.241986,N/A,NaN,N/A,NaN,N/A,N/A
40,AON,194.932,N/A,26.23,N/A,13.525891,N/A,18.528564,N/A,NaN,N/A,N/A
56,BAC,27.062,N/A,12.95,N/A,0.877889,N/A,NaN,N/A,NaN,N/A,N/A
64,BK,37.540,N/A,8.19,N/A,0.808925,N/A,NaN,N/A,NaN,N/A,N/A
65,BKNG,1856.990,N/A,30.68,N/A,12.775506,N/A,12.302080,N/A,NaN,N/A,N/A
75,C,53.123,N/A,9.37,N/A,0.574859,N/A,NaN,N/A,NaN,N/A,N/A
78,CARR,30.110,N/A,None,N/A,1.843247,N/A,9.400589,N/A,4.751939,N/A,N/A
80,CB,137.056,N/A,27.82,N/A,1.071553,N/A,NaN,N/A,NaN,N/A,N/A
90,CFG,26.098,N/A,10.53,N/A,0.520045,N/A,NaN,N/A,NaN,N/A,N/A
94,CI,182.260,N/A,13.13,N/A,1.500276,N/A,NaN,N/A,NaN,N/A,N/A
95,CINF,80.900,N/A,23.27,N/A,1.338640,N/A,NaN,N/A,NaN,N/A,N/A
97,CLX,231.570,N/A,31.37,N/A,32.133170,N/A,NaN,N/A,9.649782,N/A,N/A
98,CMA,41.560,N/A,9.88,N/A,0.804720,N/A,NaN,N/A,NaN,N/A,N/A
104,CNC,66.980,N/A,23.34,N/A,2.981214,N/A,NaN,N/A,NaN,N/A,N/A
106,COF,68.790,N/A,-195.37,N/A,0.546245,N/A,NaN,N/A,NaN,N/A,N/A
129,DFS,54.030,N/A,17.5,N/A,1.423859,N/A,NaN,N/A,NaN,N/A,N/A
185,FITB,21.680,N/A,10.61,N/A,0.708301,N/A,NaN,N/A,NaN,N/A,N/A
192,FRC,119.031,N/A,22.1,N/A,2.136493,N/A,NaN,N/A,NaN,N/A,N/A
201,GL,86.750,N/A,12.59,N/A,1.241629,N/A,NaN,N/A,NaN,N/A,N/A
210,GS,212.690,N/A,16.35,N/A,0.830594,N/A,NaN,N/A,NaN,N/A,N/A
214,HBAN,10.094,N/A,12.69,N/A,0.857300,N/A,NaN,N/A,NaN,N/A,N/A
220,HIG,44.350,N/A,8.9,N/A,0.940567,N/A,NaN,N/A,NaN,N/A,N/A
232,HUM,435.210,N/A,16.3,N/A,4.727209,N/A,NaN,N/A,NaN,N/A,N/A
260,JPM,102.684,N/A,14.08,N/A,1.221954,N/A,NaN,N/A,NaN,N/A,N/A
262,KEY,12.890,N/A,11.48,N/A,0.736629,N/A,NaN,N/A,NaN,N/A,N/A
274,L,38.590,N/A,-9.37,N/A,0.579591,N/A,NaN,N/A,NaN,N/A,N/A
285,LNC,39.720,N/A,33.28,N/A,0.380806,N/A,NaN,N/A,NaN,N/A,N/A
294,MA,340.150,N/A,45.3,N/A,56.508590,N/A,31.567565,N/A,NaN,N/A,N/A
304,MET,41.325,N/A,5.09,N/A,0.541678,N/A,NaN,N/A,NaN,N/A,N/A
310,MMC,121.620,N/A,30.5,N/A,7.906912,N/A,21.145918,N/A,NaN,N/A,N/A
318,MS,52.345,N/A,9.3,N/A,1.041892,N/A,NaN,N/A,NaN,N/A,N/A
322,MTB,112.310,N/A,10.45,N/A,0.915871,N/A,NaN,N/A,NaN,N/A,N/A
343,NTRS,85.006,N/A,13.27,N/A,1.567880,N/A,NaN,N/A,NaN,N/A,N/A
356,OTIS,65.490,N/A,None,N/A,16.942902,N/A,12.682139,N/A,7.141766,N/A,N/A
360,PBCT,11.701,N/A,10.1,N/A,0.619561,N/A,NaN,N/A,NaN,N/A,N/A
366,PFG,46.460,N/A,9.87,N/A,0.871332,N/A,NaN,N/A,NaN,N/A,N/A
368,PGR,90.700,N/A,12.01,N/A,3.782109,N/A,NaN,N/A,NaN,N/A,N/A
375,PNC,115.220,N/A,7,N/A,0.965218,N/A,NaN,N/A,NaN,N/A,N/A
381,PRU,72.970,N/A,-129.71,N/A,0.434324,N/A,NaN,N/A,NaN,N/A,N/A
391,RE,233.230,N/A,18.1,N/A,1.029074,N/A,NaN,N/A,NaN,N/A,N/A
394,RF,11.670,N/A,17.43,N/A,0.707062,N/A,NaN,N/A,NaN,N/A,N/A
410,SIVB,251.770,N/A,14.45,N/A,2.023945,N/A,NaN,N/A,NaN,N/A,N/A
421,STT,72.940,N/A,11.43,N/A,1.017897,N/A,NaN,N/A,NaN,N/A,N/A
434,TFC,40.589,N/A,12.47,N/A,0.815028,N/A,NaN,N/A,NaN,N/A,N/A
443,TRV,122.280,N/A,17.07,N/A,1.197487,N/A,NaN,N/A,NaN,N/A,N/A
458,UNH,328.690,N/A,18.41,N/A,5.312341,N/A,NaN,N/A,NaN,N/A,N/A
459,UNM,19.673,N/A,4.02,N/A,0.399541,N/A,NaN,N/A,NaN,N/A,N/A
463,USB,37.854,N/A,12.21,N/A,1.127338,N/A,NaN,N/A,NaN,N/A,N/A
482,WFC,26.248,N/A,29.2,N/A,0.552954,N/A,NaN,N/A,NaN,N/A,N/A
488,WRB,64.570,N/A,34.81,N/A,1.909546,N/A,NaN,N/A,NaN,N/A,N/A
503,ZION,34.930,N/A,13.41,N/A,0.794338,N/A,NaN,N/A,NaN,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [15]:
for column in ['Price-to-Earnings Ratio', 'EV/EBITDA', 'EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [16]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [17]:
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'
}

for row in rv_dataframe.index:
    for metric in metrics.keys():
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

# Print each percentile score to make sure it was calculated properly
for metric in metrics.values():
    print(rv_dataframe[metric])

#Print the entire DataFrame    
rv_dataframe

0      0.837624
1      0.114851
2      0.619802
3      0.742574
4      0.409901
         ...
500    0.574257
501    0.994059
502    0.679208
503    0.265347
504    0.845545
Name: PE Percentile, Length: 505, dtype: object
0       0.734653
1      0.0158416
2       0.508911
3       0.940594
4      0.0257426
         ...
500     0.049505
501     0.409901
502     0.809901
503     0.134653
504     0.954455
Name: PB Percentile, Length: 505, dtype: object
0       0.885149
1      0.0712871
2        0.50099
3       0.873267
4       0.342574
         ...
500     0.724752
501     0.526733
502     0.784158
503     0.671287
504     0.924752
Name: EV/EBITDA Percentile, Length: 505, dtype: object
0       0.538614
1      0.0613861
2      0.0712871
3       0.879208
4       0.330693
         ...
500     0.750495
501     0.308911
502     0.407921
503     0.642574
504     0.859406
Name: EV/GP Percentile, Length: 505, dtype: object

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,101.440,N/A,46.11,0.837624,6.371653,0.734653,26.865217,0.885149,11.047035,0.538614,N/A
1,AAL,13.650,N/A,-1.69,0.114851,-61.060616,0.0158416,5.916299,0.0712871,3.212977,0.0613861,N/A
2,AAP,160.657,N/A,28.71,0.619802,3.127808,0.508911,15.224044,0.50099,3.293698,0.0712871,N/A
3,AAPL,465.400,N/A,35.64,0.742574,22.463973,0.940594,26.225125,0.873267,20.249733,0.879208,N/A
4,ABBV,96.400,N/A,20.12,0.409901,-20.949970,0.0257426,12.255004,0.342574,7.568305,0.330693,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,94.130,N/A,27.33,0.574257,-3.527164,0.049505,18.770575,0.724752,14.154888,0.750495,N/A
501,ZBH,142.020,N/A,713.35,0.994059,2.336419,0.409901,16.040361,0.526733,7.100027,0.308911,N/A
502,ZBRA,296.474,N/A,31.15,0.679208,8.570317,0.809901,20.089628,0.784158,8.663448,0.407921,N/A
503,ZION,34.930,N/A,13.41,0.265347,0.794338,0.134653,18.736507,0.671287,12.222257,0.642574,N/A
504,ZTS,160.299,N/A,48.69,0.845545,28.414397,0.954455,32.191112,0.924752,19.427455,0.859406,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [18]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,101.440,N/A,46.11,0.837624,6.371653,0.734653,26.865217,0.885149,11.047035,0.538614,0.74901
1,AAL,13.650,N/A,-1.69,0.114851,-61.060616,0.0158416,5.916299,0.0712871,3.212977,0.0613861,0.0658416
2,AAP,160.657,N/A,28.71,0.619802,3.127808,0.508911,15.224044,0.50099,3.293698,0.0712871,0.425248
3,AAPL,465.400,N/A,35.64,0.742574,22.463973,0.940594,26.225125,0.873267,20.249733,0.879208,0.858911
4,ABBV,96.400,N/A,20.12,0.409901,-20.949970,0.0257426,12.255004,0.342574,7.568305,0.330693,0.277228
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,94.130,N/A,27.33,0.574257,-3.527164,0.049505,18.770575,0.724752,14.154888,0.750495,0.524752
501,ZBH,142.020,N/A,713.35,0.994059,2.336419,0.409901,16.040361,0.526733,7.100027,0.308911,0.559901
502,ZBRA,296.474,N/A,31.15,0.679208,8.570317,0.809901,20.089628,0.784158,8.663448,0.407921,0.670297
503,ZION,34.930,N/A,13.41,0.265347,0.794338,0.134653,18.736507,0.671287,12.222257,0.642574,0.428465
504,ZTS,160.299,N/A,48.69,0.845545,28.414397,0.954455,32.191112,0.924752,19.427455,0.859406,0.89604

## Selecting the 50 Best Momentum StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [19]:
rv_dataframe.sort_values(by = 'RV Score', ascending = False)
rv_dataframe = rv_dataframe[:51]

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [20]:
portfolio_input()

Enter the value of your portfolio:1000000

In [21]:
position_size = float(portfolio_size) / len(rv_dataframe.index)
for i in range(0, len(rv_dataframe['Ticker'])-1):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / rv_dataframe['Price'][i])
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,101.440,193,46.11,0.837624,6.371653,0.734653,26.865217,0.885149,11.047035,0.538614,0.74901
1,AAL,13.650,1436,-1.69,0.114851,-61.060616,0.0158416,5.916299,0.0712871,3.212977,0.0613861,0.0658416
2,AAP,160.657,122,28.71,0.619802,3.127808,0.508911,15.224044,0.50099,3.293698,0.0712871,0.425248
3,AAPL,465.400,42,35.64,0.742574,22.463973,0.940594,26.225125,0.873267,20.249733,0.879208,0.858911
4,ABBV,96.400,203,20.12,0.409901,-20.949970,0.0257426,12.255004,0.342574,7.568305,0.330693,0.277228
5,ABC,105.000,186,13.92,0.281188,7.425222,0.764356,9.480171,0.219802,4.969894,0.172277,0.359406
6,ABMD,314.470,62,89.86,0.948515,13.361921,0.891089,47.614051,0.962376,18.228422,0.851485,0.913366
7,ABT,106.100,184,60.50,0.885149,5.839572,0.718812,24.744146,0.849505,11.243672,0.548515,0.750495
8,ACN,234.570,83,30.60,0.665347,10.439130,0.843564,20.104985,0.786139,10.768452,0.530693,0.706436
9,ADBE,458.070,42,61.09,0.887129,21.565043,0.934653,53.256840,0.972277,22.074138,0.89505,0.922277
10,ADI,121.400,161,39.28,0.774257,3.907550,0.580198,18.402660,0.607921,13.389594,0.720792,0.670792
11,ADM,46.460,422,14.65,0.29901,1.339020,0.261386,12.902815,0.366337,8.384842,0.386139,0.328218
12,ADP,145.960,134,24.77,0.512871,10.594866,0.847525,16.660440,0.562376,8.837915,0.417822,0.585149
13,ADSK,240.920,81,175.27,0.976238,-391.452981,0.00594059,106.944441,0.992079,17.323643,0.833663,0.70198
14,AEE,84.300,232,23.78,0.49703,2.522144,0.441584,12.999377,0.376238,16.924477,0.825743,0.535149
15,AEP,84.740,231,22.64,0.461386,2.212309,0.388119,13.790133,0.421782,17.921170,0.847525,0.529703
16,AES,18.273,1073,63.77,0.893069,3.060955,0.506931,9.586606,0.225743,12.810270,0.70099,0.581683
17,AFL,37.863,517,9.82,0.184158,0.922686,0.170297,18.736507,0.671287,12.222257,0.642574,0.417079
18,AIG,31.470,623,-5.85,0.0930693,0.415183,0.0653465,18.736507,0.671287,12.222257,0.642574,0.368069
19,AIV,36.490,537,30.38,0.657426,3.188938,0.518812,18.761912,0.722772,44.130639,0.980198,0.719802
20,AIZ,126.940,154,19.72,0.4,1.322977,0.255446,18.736507,0.671287,12.222257,0.642574,0.492327
21,AJG,111.790,175,28.33,0.609901,3.998706,0.588119,19.100712,0.750495,4.367108,0.128713,0.519307
22,AKAM,111.710,175,32.72,0.70495,4.844672,0.645545,19.191287,0.756436,10.662018,0.524752,0.657921
23,ALB,95.000,206,22.89,0.469307,2.532564,0.443564,13.258253,0.392079,9.460595,0.453465,0.439604
24,ALGN,316.730,61,14.54,0.29505,18.670577,0.926733,38.057856,0.942574,13.219252,0.718812,0.720792
25,ALK,39.400,497,84.66,0.938614,1.147885,0.215842,4.197886,0.0415842,3.246104,0.0653465,0.315347
26,ALL,100.500,195,7.20,0.150495,1.209077,0.233663,18.736507,0.671287,12.222257,0.642574,0.424505
27,ALLE,104.774,187,34.38,0.728713,12.755114,0.881188,15.862787,0.522772,8.440051,0.388119,0.630198
28,ALXN,102.918,190,26.98,0.570297,2.068136,0.372277,9.219199,0.211881,5.354727,0.19604,0.337624
29,AMAT,65.150,300,21.10,0.427723,7.520884,0.776238,16.949407,0.570297,9.552273,0.455446,0.557426
30,AMCR,11.301,1735,31.59,0.693069,3.154007,0.512871,19.427794,0.766337,13.217619,0.716832,0.672277
31,AMD,82.090,238,161.57,0.974257,35.658018,0.964356,113.762943,0.994059,33.226060,0.956436,0.972277
32,AME,103.590,189,26.33,0.556436,4.634606,0.629703,18.200922,0.59604,13.465763,0.726733,0.627228
33,AMGN,246.660,79,20.33,0.413861,15.006129,0.916832,13.860224,0.423762,8.561071,0.40396,0.539604
34,AMP,163.000,120,8.57,0.160396,3.457699,0.540594,7.979210,0.158416,3.057052,0.0514851,0.227723
35,AMT,258.300,75,58.00,0.871287,22.875897,0.942574,30.644145,0.914851,39.675239,0.972277,0.925248
36,AMZN,3299.750,5,121.64,0.964356,26.508372,0.948515,52.004259,0.970297,13.469357,0.728713,0.90297
37,ANET,225.990,86,22.68,0.463366,5.767543,0.716832,16.479222,0.550495,8.890860,0.421782,0.538119
38,ANSS,323.970,60,69.05,0.90495,7.875612,0.786139,44.533069,0.954455,19.507493,0.861386,0.876733
39,ANTM,288.000,68,12.49,0.231683,2.241986,0.39802,18.736507,0.671287,12.222257,0.642574,0.485891
40,AON,194.932,100,26.23,0.554455,13.525891,0.89505,18.528564,0.615842,12.222257,0.642574,0.67698
41,AOS,50.210,390,27.65,0.584158,4.190005,0.607921,12.036150,0.324752,5.659447,0.217822,0.433663
42,APA,15.554,1260,-0.76,0.132673,1.837313,0.328713,3.786593,0.0257426,15.184449,0.782178,0.317327
43,APD,302.500,64,34.10,0.726733,5.894028,0.722772,20.362018,0.794059,21.840001,0.891089,0.783663
44,APH,114.152,171,29.92,0.644554,7.431539,0.766337,18.108218,0.592079,13.948037,0.744554,0.686881
45,APTV,91.850,213,13.85,0.277228,6.404805,0.738614,13.493589,0.40396,7.835451,0.350495,0.442574
46,ARE,170.968,114,54.41,0.863366,2.573107,0.451485,25.138945,0.857426,48.277271,0.988119,0.790099
47,ATO,108.320,181,22.10,0.448515,2.342358,0.411881,14.737123,0.479208,16.170355,0.811881,0.537871
48,ATVI,81.900,239,36.00,0.746535,5.034793,0.665347,25.281937,0.859406,13.444237,0.724752,0.74901
49,AVB,154.460,126,27.73,0.592079,2.021483,0.358416,19.885436,0.776238,33.323391,0.958416,0.671287
50,AVGO,337.580,N/A,57.25,0.869307,5.401166,0.687129,16.173759,0.536634,15.216938,0.784158,0.719307

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [22]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Boolean formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [23]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

boolean_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )